body {
  font-weight: bold;
  margin: 0;
}

header {
  background: grey;
  padding: 18px;
}

header > h1 {
  margin: 0;
}

footer {
  background: grey;
  margin-top: 42px;
  padding: 18px;
}

footer > h3 {
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  padding: 9px;
}

.name-score {
  margin: 0;
}

.list-item:nth-child(even) {
  background: #eff0f0;
}

.recent {
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.scores {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.scores-list {
  border: solid;
}

.refresh-div {
  display: flex;
  gap: 12px;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

form > input {
  border: solid;
  font-weight: bold;
}

#refresh {
  background: violet;
  box-shadow: 3px 4px 0 0;
  font-weight: bold;
  width: fit-content;
  height: 30%;
}

form > button {
  width: 35%;
  align-self: flex-end;
  box-shadow: 3px 4px 0 0;
  font-weight: bold;
  background: violet;
}
